<% if flash[:notice] %>
<p><%= flash[:notice] %></p>
<% end %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
     <%= render 'users/userinfo', user:@user %>
      <%= render 'books/new', book:@book %>
  </div>
  
  <h2>Books</h2>
  <thead>
  <th>Title</th>
  <th>Opinion</th>
  </thead>
  <tbody>
  <% @books.each do |book| %>
  <%= link_to book_path(@user) do %>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <% end %>
  <%= link_to book.title, book_path(book.id) %>
  <%= book.body %>
  <% end %>
  </tbody>