<% if flash[:notice] %>
<p><%= flash[:notice] %></p>
<% end %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
     <%= render 'users/userinfo', user:@user %>
      <%= render 'books/new', book:@book %>
  </div>
  
  <div table = "table">
  <h2>Book detail</h2>
  <%= image_tag @user.get_profile_image(80,80) %>
  <%= link_to @user.name, user_path(@user) %>
  <%= link_to @book.title, book_path(@user) %>
  <%= @book.body %>
  <% if @book.user_id == current_user.id %>
    <%= link_to "Edit",edit_book_path(@book), class: "btn btn-success" %>
    <%= link_to "Destroy", book_path(@book), class: "btn btn-danger", method: :delete, data: {confirm: '本当に削除しますか？'} %>
  <% end %>
  </div>
  </div>
  </div>